@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

footer {
    bottom: 0;
    padding: 1rem;
    background-color: #111;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    position: fixed;
    width: 100%;
}

footer img {
    width: 25px;
}

footer a {
    color: white;
    text-decoration: none;
    font-family: "Figtree", sans-serif;
}

footer a:hover{
    transition: 0.4s;
    color: #03f5a7;
}